



.signup-container {
  display: flex;
  justify-content: space-between;
    width: 100%;
    max-width: 75%;
    margin: auto;
    padding: 1rem;
    font-family: 'Arial', sans-serif;
  }
  
  .signup-container h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .signup-container .column-two{
    max-width: 70%;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
.name{
    display: flex;
    justify-content: space-between;
}

.name input {
    padding: 10px;
}


  
  .input-group input, 
  .signup-form input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input {
    margin-right: 10px;
  }
  
  
  .signup-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
  
  }
  
  .continue-button:hover {
    background-color: #333;
  }
  
  .business-account-link {
    text-align: center;
    margin-top: 2rem;
  }
